@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Here is some more information.</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        var address1 = "804 Washington Street Evanston IL 60202";
        var address2 = "138 Abbot Avenue Worthington OH 43085";
        var address3 = address1.replace(/ /g, "%20");
        var address4 = address2.replace(/ /g, "%20");
        
        var url = `https://maps.googleapis.com/maps/api/distancematrix/json?origins=${ address3 }destinations=${ address4 }`;

        var request = $.ajax({
            action: url
        });

        request.success(function(response){
            console.log(response);
        });
    });

</script>